@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
  url("../fonts/gilroylight-webfont.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.15px;

  background-color: #fff;
}
/* может быть поправить leter-spaicing */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/* header */

.index-header .logo-top,
.catalog-header .logo-top {
  /* display: inline-block; */
  margin-top: 20px;

  font-weight: 800;
  font-size: 48px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.26px;
}

.catalog-header .logo-top:hover,
.catalog-header .logo-top:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-header .logo-top:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Форма поиска по сайту */
.search-form-and-user-navavigation input[type="search"] {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
}

.search-form-and-user-navavigation input[type="search"]:hover {
  border-bottom: 2px solid black;
}


/*
.search-form-and-user-navavigation input[type="search"]:hover {
  border: 1px;
} */
.search-btn {
  background-color: #f7e296;
  border: 2px solid black;
  /* display: none; */
}


.search-form-and-user-navavigation input[type="search"]::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input[type="search"]::-moz-placeholder {
  font-weight: 300;
  font-size: 15px;
  /* line-height: 36px; */
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input[type="search"]:-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  /* line-height: 30px; */
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input[type="search"] {
  font-weight: 300;
  font-size: 15px;
  /* line-height: 36px; */
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}




.user-block-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-block-navigation a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.15px;
}

.user-block-navigation a:hover,
.user-block-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-block-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-navigation .sing-out {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-navigation .sing-out:active {
  color: #000;
}

.cite-navigation {
  margin: 0;
  padding: 0;
}
.catalog {
  margin: 0;
  padding: 0;
}

.catalog .catalog-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog .catalog-title:hover,
.catalog .catalog-title:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog .catalog-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-menu {
  padding-left: 60px;
  display: none;
  background-color: #f7e296;
}

.catalog-menu,
.nav-service {
  /* margin: 0; */
  /* padding: 0; */
  list-style-type: none;
}

.catalog-menu .catalog-link {
  color: #000;
}

.catalog-menu .catalog-link:hover,
.catalog-menu .catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu .catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-service a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}

.nav-service a:hover,
.nav-service a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-service a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item .slide-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.17px;
}
.slide-number {
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy","Arial", sans-serif;
  letter-spacing: 0.36px;
  /* Потом раскоментируем цвет, а то сейчас не видно будет цифры */
  /* color: #fff; */
}

.slider-item .btn {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.slider-item .btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.table-character td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.36px;
}

.table-character th {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.13px;
}

.table-character td {
  margin: 0;
  padding: 0;
}

/* Блок товаров по категориям */
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  background-color: rgba(240, 197, 46, 0.5);
}

.product-item:hover,
.product-item:focus {
  background-color: #f0c52e;
}

.product-item:active {
  background-color: #f0c52e;
}

.product-item:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.product-list .product-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.18px;
}

/* Блок преимущества */
.features {
  background-color: #e5e5e5;
}



.features-navigation,
.content-feature-navigation {
  padding: 0;

  list-style: none;
}

.navigation-item label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.features-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.21px;
}

/* Бренды  */

.brands-list {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
/* Блок о нас и контакты */

.about-and-contacts h3 {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.21px;
}

.about-and-contacts p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0;
}

.about ul {
  padding: 0;
  padding-left: 35px;

  list-style: none;
}

.about li {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0;
}

.about-and-contacts a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.about-and-contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}




/* Футер */

.index-footer,
.catalog-footer {
  padding-top: 64px;

  background-color: #464646;
}

.index-footer ul,
.catalog-footer ul {
  padding: 0;

  list-style: none;
}

.index-footer a,
.catalog-footer a {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer-user-block-navigation a {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.15px;
}

.footer-user-block-navigation a:hover,
.footer-user-block-navigation a:focus {
  color: #fff;
}

.footer-user-block-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}
.footer-links a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-links a:active {
  color: rgba(255, 255, 255, 0.3);
}

.row-middle .adress {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #fff;
  text-decoration: none;
}

/* .footer-social a {
  font-size: 0;
  потом спрячем название соцсетей
} */

.index-footer .logo-button,
.catalog-footer .logo-button {
  /* margin-top: 20px; */
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffc600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.26px;
}

.catalog-footer .logo-button:hover,
.catalog-footer .logo-button:focus {
  color: rgba(255, 198, 0, 0.6);
}

.catalog-footer .logo-button:active {
  color: rgba(255, 198, 0, 0.3);
}

/* Форма обратной связи поп-ап*/
.form-support {
  display: none;
}

.form-write label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 2.15px;
}

.form-write input {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.15px;

  background-color: #f2f2f2;
  border: 3px solid transparent;
}
.form-write input:hover {
  background-color: #ebebeb;
  border: 3px solid transparent;
}
.form-write input:focus {
  background-color: #fff;
  border: 3px solid #f7e296;
  outline: none;
}
.form-write textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.15px;

  background-color: #f2f2f2;
  border: 3px solid transparent;

  resize: none;
}

.form-write textarea:hover {
  background-color: #ebebeb;
  border: 3px solid transparent;
}

.form-write textarea:focus {
  background-color: #fff;
  border: 3px solid #f7e296;
  outline: none;
}

.form-write button[type="submit"] {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #fff;
  border: none;
}

/* Карта поп-ап */
.modal-map {
  display: none;
}

/* Стили каталога  товаров*/

.breadcrumbs {
  padding: 0;

  list-style: none;
}

.broadcrumps-link {
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.broadcrumps-link:hover,
.broadcrumps-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.broadcrumps-link:active {
  color: rgba(0, 0, 0, 0.1);
}
.current-crumbs:hover,
.current-crumbs:focus,
.current-crumbs:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Шапка сортировки товаров */
.sorting-goods p {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.soting-list {
  padding: 0;

  list-style: none;
}

.sorting-link {
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: #000;
}

/* Боковой фильтр */
.filter-list {
  padding: 0;

  list-style: none;
}

.filter-search fieldset {
  border: none;
}

.filter-search legend {
  width: 100%;
  padding-top: 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 3.6px;

  border-top: 2px solid #000;
}

.filter-search label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;

  color: #000;
}

/* заблокированный переключатель */
.label-block {
  color: #a6a6a6;
}

.filter-search button {
  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #fff;
  border: none;
}

.filter-search button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-cards-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-cards .product-link {
  padding-top: 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 0.24px;
}

.product-cards .product-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.24px;
}

.product-option .product-in-cort {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000;
  letter-spacing: 3.6px;
}

.product-option .product-in-cort:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-option .add-to-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.product-option .add-to-compare:hover,
.product-option .add-to-compare:focus {
  color: #000;
}

.product-option .add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Пагинация */

.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 3.2px;
}

.pagination a:hover,
.pagination a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination a:active {
  color: #000;
}

.pagination .current-nuber,
.pagination .current-nuber:hover,
.pagination .current-nuber:active {
  color: #000;
}

.pagination .pagination-farther,
.pagination .pagination-farther:hover,
.pagination .pagination-farther:focus {
  color: #000;
  /* в будущем добавим цвет фона состояния */
}

.pagination .pagination-farther:active {
  color: rgba(0, 0, 0, 0.3);
}
