@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
  url("../fonts/gilroylight-webfont.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}
/* может быть поправить leter-spaicing */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.wraper-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 18px;
  padding-right: 60px;
  padding-bottom: 46px;
  padding-left: 60px;
}

/* header */
.index-header,
.catalog-header {
  padding-top: 20px;

  background-image: linear-gradient(to bottom, #ffffff 40px,#f8e296 40px);
  background-clip: content-box;
}

.index-header .logo-top,
.catalog-header .logo-top {
  margin-right: auto;
  margin-left: 60px;

  font-weight: 800;
  font-size: 48px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.26px;
}

.catalog-header .logo-top:hover,
.catalog-header .logo-top:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-header .logo-top:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-and-user-navavigation {
  display: flex;
  margin-bottom: 37px;
}

/* Форма поиска по сайту */
.search-form-and-user-navavigation form {
  display: flex;
  width: 520px;
  min-height: 37.25px;
  padding-right: 20px;;
}

.search-form-and-user-navavigation input[type="search"] {
  width: 355px;
  /* min-height: 37.25px; */

  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;

  background-color: #f8e296;
  /* padding-left: 40px; */
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
}

.search-btn {
  display: none;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;

  background-color: #f7e296;
  border: 2px solid black;
  cursor: pointer;
}

/* стилизуем плейсхолдер */

.search-form-and-user-navavigation input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input::-moz-placeholder {
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.search-form-and-user-navavigation input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  /* стилизация работает */
}

.search-form-and-user-navavigation input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  /* стилизация работает */
}

.search-form-and-user-navavigation input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  /* стилизация работает */
}

.search-form-and-user-navavigation input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-form-and-user-navavigation input:focus::-moz-placeholder {
  color: #000000;
}

.search-form-and-user-navavigation input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-form-and-user-navavigation input:focus {
  color: #000000;

  border-bottom: 2px solid #000000;
}



.search-form-and-user-navavigation input:focus + button {
  display: inline-block;

  vertical-align: top;

  background-color: #f8e296;
}



.search-form-and-user-navavigation input:focus + button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form-and-user-navavigation button:active {
  display: inline-block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}


.search-form-and-user-navavigation input:valid + button {
  display: inline-block;
}
.search-form-and-user-navavigation input:invalid {
  outline: none;
}



.search-form-and-user-navavigation .user-block-navigation {
  width: 520px;
  padding-left: 20px;
}

.user-block-navigation {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.index-header .compare {
  margin-left: 175px;
}

.user-block-navigation a {
  padding-left: 27px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;
}

.user-block-navigation a:hover,
.user-block-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-block-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-navigation .sing-out {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-navigation .sing-out:active {
  color: #000000;
}

.cite-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.catalog {
  position: relative;

  width: 520px;
  margin: 0;
  padding: 0;
  padding-right: 20px;

  list-style: none;
}

.catalog .catalog-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  /* z-index: 3; */
}

.catalog .catalog-title:hover,
.catalog .catalog-title:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog .catalog-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-drop-down {
  /* display: flex; */
  position: absolute;
  /* top: 0; */
  left: -60px;
  z-index: 2;

  display: none;
  width: 1160px;
  padding-top: 32px;
  padding-bottom: 27px;
  padding-left: 60px;

  background-color: #f7e296;
  /* background-color: #fff; */
}

.catalog  li:hover .menu-drop-down {
  display: flex;
  flex-wrap: wrap;
}
/* Style for "Layer 6 co" */

.catalog-menu,
.nav-service {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-menu {
  min-width: 180px;
  margin-right: 20px;
}

.menu-drop-down .catalog-menu:first-child {
  margin-right: 58px;
}

.catalog-menu li {
  margin-bottom: 6px;
}

.catalog-menu .catalog-link {
  color: #000000;
}

.catalog-menu .catalog-link:hover,
.catalog-menu .catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu .catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-service {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.nav-service a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.nav-service li {
  flex-shrink: 0;
}
/* .nav-service li:first-child {
  margin-right: 15px;
} */

.nav-service li:last-child {
  margin-left: 70px;
}

.nav-service a:hover,
.nav-service a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-service a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */
.slider-top {
  background-image: linear-gradient(to bottom, #f8e296 112px, #ffffff 112px);
  background-clip: content-box;
}

.slider-button-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-top-list {
  margin: 0;
  margin-right: 60px;
  margin-bottom: 100px;
  margin-left: 60px;
  padding: 0;

  list-style: none;
}

.slider-top .slide-top-1:checked ~ .slider-top-list .slide-number-1,
.slider-top .slide-top-2:checked ~ .slider-top-list .slide-number-2,
.slider-top .slide-top-3:checked ~ .slider-top-list .slide-number-3 {
  display: flex;
}

.slider-top-list .slide-number-1,
.slider-top-list .slide-number-2,
.slider-top-list .slide-number-3 {
  display: none;
}

.slider-image {
  flex-shrink: 0;
  width: 440px;
  padding-right: 20px;
  padding-left: 30px;
}

.item-description {
  position: relative;
  z-index: 1;

  flex-shrink: 0;
  width: 660px;
  padding-right: 30px;
  padding-left: 100px;
}

.slider-item .slide-title {
  position: relative;
  z-index: 2;

  margin-top: 80px;
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.17px;
}

.slide-text {
  margin-bottom: 49px;
  padding-right: 40px;
}

.slide-number {
  position: absolute;
  top: -11px;
  right: 46px;
  z-index: 2;

  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.36px;
}

.slider-item .slider-link {
  padding-top: 12px;
  padding-right: 43px;
  padding-bottom: 12px;
  padding-left: 44px;
}

.btn-decoration {
  position: relative;
  z-index: 1;
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.btn-decoration::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}


.btn-decoration:hover,
.btn-decoration:focus {
  background-color: #f0c52e;
}

.btn-decoration:active {
  color: rgba(0, 0, 0, 0.3);
}

.table-character {
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.table-character td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
}

.table-character th {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.13px;
}

.table-character td {
  margin: 0;
  padding: 0;
  padding-right: 74px;
}

/* Блок товаров по категориям */
.product-category {
  margin-bottom: 81px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 25px;
}

.product-item {
  flex-shrink: 0;
  width: 160px;

  cursor: pointer;
}

.product-item:nth-child(2) .wraper-img {
  justify-content: center;
  align-items: flex-end;
}

.product-item .wraper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  margin-bottom: 30px;

  background-color: rgba(240, 197, 46, 0.5);
}

.product-item:hover .wraper-img,
.product-item:focus .wraper-img {
  background-color: #f0c52e;
}

.product-item:active .wraper-img {
  background-color: #f0c52e;
  opacity: 0.5;
}

.product-item:active a {
  color: rgba(0, 0, 0, 0.3);
}

.product-item a {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
}
/* Блок преимущества */
.features {
  margin-bottom: 94px;
  padding-top: 70px;
  padding-bottom: 148px;

  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.features input[type="radio"] {
  display: none;
}

.features .container {
  display: flex;
}

.features-navigation,
.content-feature-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-navigation {
  /* padding-right: 20px; */
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

.features-navigation::before {
  content: "";
  position: absolute;
  top: -70px;
  right: -3.5px;
  z-index: 4;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.navigation-item {
  position: relative;
  z-index: 1;

  display: flex;
  min-width: 160px;
  margin-bottom: 10px;
}

/* .navigation-item::after {
  content: "";
  position: absolute;
  top: 40.2%;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
} */

.features-navigation label {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* z-index: 2; */

  text-align: center;
  color: #000000;

  cursor: pointer;
}


.features .delivery:checked ~ .features-navigation .first-item::after,
.features .warranty:checked ~ .features-navigation .second-item::after,
.features .credit:checked ~ .features-navigation .third-item::after {
  content: "";
  /* position: absolute; */

  width: 280px;
  height: 100%;

  background-color: #000000;
}

.features .delivery:checked ~ .features-navigation label[for="delivery"],
.features .warranty:checked ~ .features-navigation label[for="warranty"],
.features .credit:checked ~ .features-navigation label[for="credit"] {
  color: #f7e184;
}

.content-feature-navigation .slide-1,
.content-feature-navigation .slide-2,
.content-feature-navigation .slide-3 {
  position: relative;

  display: none;
}

.features .delivery:checked ~ .content-feature-navigation .slide-1,
.features .warranty:checked ~ .content-feature-navigation .slide-2,
.features .credit:checked ~ .content-feature-navigation .slide-3 {
  display: block;
}

.content-feature-navigation {
  width: 820px;
  padding-left: 120px;
}

.features-contnet {
  width: 700px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.21px;
}

.features-description {
  width: 500px;
  margin: 0;
  /* white-space: pre-line; */
}

.features-contnet img {
  position: absolute;
  top: 0;
  right: 0;
}

/* Бренды  */
.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

/* Наведение карточку логотипы  */

.brands-list a {
  position: relative;
}

.brands-list img:first-child {
  opacity: 1;
}

.brands-list img:first-child:hover,
.brands-list img:first-child:focus {
  opacity: 0;
}

.brands-list img:last-child {
  position: absolute;
  top: -84px;
  left: 0;

  opacity: 0;
}

.brands-list img:first-child:hover + img,
.brands-list img:first-child:focus + img {
  right: 0;

  opacity: 1;
}

.brands-list img:last-child:hover,
.brands-list img:last-child:focus {
  opacity: 1;
}

/* Блок о нас и контакты */

.about-and-contacts {
  display: flex;
  padding-top: 43px;
}

.about {
  width: 580px;
  padding-right: 20px;
}

.contacts {
  width: 580px;
  padding-left: 20px;
}

.about-and-contacts h3 {
  margin: 0;
  /* padding-top: 43px; */
  margin-bottom: 14px;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.21px;
}

.about-and-contacts p {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.11px;
  white-space: pre-line;
}

.about ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 35px;

  list-style: none;
}

.about li {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.17px;
}


.contacts img {
  padding-top: 40px;
  padding-bottom: 66px;
}

.about a {
  margin-top: 22px;
  padding-top: 12px;
  padding-right: 22.7px;
  padding-bottom: 12px;
  padding-left: 22.7px;
}

.contacts a {
  padding-top: 12px;
  padding-right: 41px;
  padding-bottom: 12px;
  padding-left: 41px;
}



/* .about-and-contacts a:hover,
.about-and-contacts a:focus {
  background-color: #f0c52e;
} */

/* Футер */
.index-footer {
  margin-top: 86px;
  padding-top: 51px;

  background-color: #464646;
}

.catalog-footer {
  /* margin-top: 86px; */
  padding-top: 51px;

  background-color: #464646;
}

.index-footer ul,
.catalog-footer ul {
  padding: 0;

  list-style: none;
}

.index-footer a,
.catalog-footer a {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.row-top,
.row-middle,
.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-top {
  margin-bottom: 8px;
  padding-top: 13px;
}

.footer-user-block-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 325px;
  margin: 0;
}

.catalog-footer .footer-user-block-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 480px;
  margin: 0;
}

.item-footer-user-navigation a {
  padding-left: 28px;
}

.footer-user-block-navigation a {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.15px;
}

.footer-user-block-navigation a:hover,
.footer-user-block-navigation a:focus {
  color: #ffffff;
}

.footer-user-block-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 425px;
  margin-right: 41px;
}

.footer-links a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-links a:active {
  color: rgba(255, 255, 255, 0.3);
}

.row-middle {
  margin-bottom: 20px;
}

.row-middle .adress {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.row-bottom {
  padding-bottom: 75px;
}

.row-bottom::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: rgb(255, 198, 0);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .footer-social a {
  font-size: 0;
  потом спрячем название соцсетей
} */

.index-footer .logo-button,
.catalog-footer .logo-button {
  /* margin-top: 20px; */
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffc600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.26px;
}

.catalog-footer .logo-button:hover,
.catalog-footer .logo-button:focus {
  color: rgba(255, 198, 0, 0.6);
}

.catalog-footer .logo-button:active {
  color: rgba(255, 198, 0, 0.3);
}

/* Форма обратной связи поп-ап*/
.form-support {
  display: none;
  width: 960px;
  padding-top: 96px;
  padding-right: 100px;
  padding-bottom: 159px;
  padding-left: 100px;
}


.form-write label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 2.15px;
}

.form-write input {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.form-write input:hover {
  background-color: #ebebeb;
  border: 3px solid transparent;
}

.form-write input:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}

.form-write textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #f2f2f2;
  border: 3px solid transparent;

  resize: none;
}

.form-write textarea:hover {
  background-color: #ebebeb;
  border: 3px solid transparent;
}

.form-write textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}

.form-write button[type="submit"] {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #ffffff;
  border: none;
}

/* Карта поп-ап */
.modal-map {
  display: none;
  width: 960px;
}

/* ========================================================= */
/* Стили каталога  товаров*/

/* .inner-catalog-wraper {
  width: 1100px;
  margin-right: 60px;
} */

.section-catalog {
  margin-bottom: 41px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.section-catalog h1 {
  margin-top: 42px;
  margin-bottom: 18px;
  padding-left: 60px;

  font-weight: 800;
  font-size: 47px;
  line-height: 42px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.77px;
}

.breadcrumbs-item {
  padding-right: 35px;
}

.broadcrumps-link {
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: -0.2px;
}

.broadcrumps-link:hover,
.broadcrumps-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.broadcrumps-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.current-crumbs:hover,
.current-crumbs:focus,
.current-crumbs:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Шапка сортировки товаров */
.sorting-goods {
  background-image: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 50%,#ebebeb 50%,#ebebeb 100%);
}

.sorting-goods p {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.sorting-wraper {
  display: flex;
  align-items: center;
  margin: 0 ;
  padding: 0;

  background-color: #ebebeb;
}

.sorting-any {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-filter-title {
  width: 330px;
  margin: 0;
  padding-left: 60px;

  background-color: #dbdbdb;
}

.sorting-title {
  width: 270px;
  margin: 0;
  /* margin-top: 22px; */
  padding: 0;
  padding-left: 70px;
  /* padding-top: 24px; */
  /* padding-bottom: 26px; */
}

.soting-list {
  display: flex;
  width: 470px;
  margin: 0;
  padding: 0;
  /* padding-top: 24px; */
  /* padding-bottom: 26px; */

  list-style: none;
}

.sorting-link {
  padding-right: 30px;

  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: #000000;
}

.result-search-section {
  background: linear-gradient(to right,#efefef 0%,#efefef 50%,#ffffff 50%,#ffffff 100%);
}

.result-search-section .container {
  display: flex;
}

/* Боковой фильтр */
.filter-search {
  width: 330px;
  padding-right: 70px;
  padding-left: 60px;

  background-color: #efefef;
}

.filter-list {
  padding: 0;

  list-style: none;
}

.filter-search form {
  width: 200px;
  padding-top: 69px;
}

.filter-search fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-search legend {
  width: 100%;
  padding-top: 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 3.6px;

  border-top: 2px solid #000000;
}

.filter-search label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}


/* заблокированный переключатель */
.label-block {
  color: #a6a6a6;
}

.filter-search button {
  position: relative;
  z-index: 1;

  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: #efefef;
  border: none;
}

.filter-search button::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.filter-search button:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-search button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #f0c52e;
}
/* .result-search {
  display: flex;
  flex-wrap: wrap;
} */

.result-search {
  width: 830px;
  padding-top: 70px;
  padding-bottom: 41px;
  padding-left: 70px;

  background-color: #ffffff;
}

.product-cards-list {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-cards {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* position: relative; */
  position: relative;

  flex-shrink: 0;
  flex-wrap: wrap;
  /* flex-direction: column;
  flex-wrap: wrap; */
  width: 360px;
  padding-bottom: 35px;
}

.prace-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-cards .product-link {
  width: 270px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  white-space: pre-line;
}

.product-cards .product-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.24px;
}

.product-option {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: none;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.cards-image:hover ~ .product-option {
  display: flex;
}

.product-option:hover {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  /* justify-content: center; */
}

.product-option .product-in-cort {
  position: relative;

  margin-top: 170px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 36px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.product-option .product-in-cort:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-option .product-in-cort::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}


.product-option .product-in-cort:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #f0c52e;
}




.product-option .add-to-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.product-option .add-to-compare:hover,
.product-option .add-to-compare:focus {
  color: #000000;
}

.product-option .add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Пагинация */
.pagination-navigation {
  width: 760px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 76px;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  /* border:1px solid red; */
  /* padding-top: 21px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px; */

  list-style: none;

  background-color: #ebebeb;
}

.pagination li:first-of-type {
  margin-right: auto;
}

.pagination li:last-of-type {
  margin-left: auto;
}

.pagination a {
  /* display: inline-flex; */
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy","Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 3.2px;
}

.pagination .pagination-farther {
  display: inline-flex;
  min-width: 127px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.pagination a:hover,
.pagination a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination a:active {
  color: #000000;
}

.pagination-number {
  padding-left: 31px;
}

.pagination .current-nuber,
.pagination .current-nuber:hover,
.pagination .current-nuber:active {
  color: #000000;
}

.pagination .pagination-farther,
.pagination .pagination-farther:hover,
.pagination .pagination-farther:focus {
  color: #000000;
}

.pagination .pagination-farther:hover,
.pagination .pagination-farther:focus {
  background-color: #d8d8d8;
}

.pagination .pagination-farther:active {
  color: rgba(0, 0, 0, 0.3);
}
